<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Tables</title>
</head>
<body>
<h1>Список таблиц</h1>
<select id="tables"></select><button onclick="setTable()">Загрузить</button>
<br><br>

<h1>Таблица</h1>
<div id="func"></div>
<button onclick="create()">Создать</button><button onclick="update()">Обновить</button>
<br><br>

<div>Сгруппировать по: </div>
<select id="rows"></select>
<button onclick="groupBy()">Ок</button><br><br>
<div id="data"></div>

<script>
    function createList(){
        let list = ['clients', 'contracts', 'developers', 'employees', 'private_info', 'products', 'tasks', 'testers'];
        let select = document.getElementById("tables");
        list.forEach(text => {
            let opt = document.createElement('option');
            opt.value = text;
            opt.innerHTML = text;
            select.appendChild(opt);
        })
    }

    async function setTable(){
        let table = document.getElementById('tables').value;
        let url = '/main/'+table;
        let keys = await load(url);
        let rows = document.getElementById('rows');
        rows.innerHTML = "";
        keys.forEach(text => {
            let opt = document.createElement('option');
            opt.value = text;
            opt.innerHTML = text;
            rows.appendChild(opt);
        })
    }

    async function load(url){
        let response = await fetch(url)
            .then(function(response) {
                if (!response.ok) {
                    alert("Невозможно загрузить продукты. Ошибка "+ response.status)
                }
                return response.json()
            });
        let keys = Object.keys(response[0]);
        createFunc(keys);
        createTable(response, keys);
        return keys;
    }

    function createFunc(keys){
        const space = document.getElementById("func");
        space.innerHTML = '';
        let tbl = document.createElement('table');
        const tr1 = tbl.insertRow();
        const tr2 = tbl.insertRow();
        keys.forEach(
            key => {
                const td1 = tr1.insertCell();
                td1.appendChild(document.createTextNode(key));

                const td2 = tr2.insertCell();
                let input = document.createElement("input");
                input.id = key;
                td2.appendChild(input);
            })
        space.appendChild(tbl);
    }

    function createTable(response, keys){
        const space = document.getElementById("data");
        space.innerHTML = '';
        let tbl = document.createElement('table');
        tbl.style.width = '100px';
        const tr = tbl.insertRow();

        keys.forEach(
            key => {
                const td = tr.insertCell();
                td.appendChild(document.createTextNode(key));
                td.style.border = '1px solid black';
            })

        let i = 0;
        for(const item of response){
            const tr = tbl.insertRow();
            Object.keys(item).forEach(key => {
                const td = tr.insertCell();
                td.appendChild(document.createTextNode(item[key]));
                td.style.border = '1px solid black';
            })
            const td = tr.insertCell();
            let button =  document.createElement("button");
            button.id=item.id;
            button.textContent="Удалить";
            button.onclick= function () {
                deleteItem(this.id);
            };
            td.appendChild(button);
            i+=1;
        }
        space.appendChild(tbl);
    }

    function clear(){
        let opts = document.getElementById('rows').options;
        Array.from(opts).forEach(opt => {
            let key = opt.value;
            document.getElementById(key).value = "";
        })
    }


    function fillForm(){
        let form = {};
        let opts = document.getElementById('rows').options;
        Array.from(opts).forEach(opt => {
            let key = opt.value;
            form[key] = document.getElementById(key).value;
        })
        console.log(form);
        return form;
    }

    async function update(){
        let form = fillForm();
        let table = document.getElementById('tables').value;
        let response = await fetch("main/"+ table +"/update", {
            method: "Post",
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(form)
        });
        if(response.ok){
            alert("Строка успешно обновлена.");
        }
        else {
            alert("Ошибка "+response.status)
        }
        clear();
        setTable();
    }

    async function create(){
        let form = fillForm();
        let table = document.getElementById('tables').value;
        let response = await fetch("main/"+ table +"/create", {
            method: "Post",
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(form)
        });
        if(response.ok){
            alert("Строка успешно добавлена.");
        }
        else {
            alert("Ошибка "+response.status)
        }
        clear();
        await setTable();
    }

    async function deleteItem(id){
        let table = document.getElementById('tables').value;
        let response = await fetch('main/'+ table +'/delete?id='+id, {
            method: "Delete"
        });
        if(response.ok){
            alert("Строка удалена успешно.");
        }
        else {
            alert("Ошибка "+ response.status)
        }
        setTable();
    }

    async function groupBy(){

    }

    createList();
    setTable();
</script>
<br>
<a href="/logout">Выйти</a>
</body>
</html>

